body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333;
    font-size: 14px;
}

.wrapper {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 4px 0;
}

.nav li {
    margin: 0 15px;
}

.nav li a {
    text-decoration: none;
    color: #333;
}

.header {
    background-color: #fff;
    padding: 10px 0 0 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 13px 0;
}

.logo {
    color: #66C05D;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
}

.logo-img {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(/img/logo.svg);
    margin: 0 20px 0 0;
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border-radius: 20px;
    background-color: transparent;
    border: solid 2px #66C05D;
    padding: 10px 25px;
    margin: 0 0 0 35px;
    transition: 0.2s ease;
    cursor: pointer;
}

.header-info button:hover {
    background-color: #66C05D;
}

.header-bottom {
    padding: 20px 0 27px 0;
}

.header-bottom .nav {
    font-size: 16px;
    margin: 0;
}

hr {
    border: none;
    background-color: #EFEFEF;
    height: 1px;
}

/* BANNER */
.banner {
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 159px 0 203px 0;
    color: #fff;
}

.banner p {
    margin: 0 0 57px 0;
    max-width: 315px;
    line-height: 1.5;
}

.btn {
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    background-color: transparent;
    border: solid 2px #fff;
    padding: 9px 47px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #fff;
    color: #66C05D;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 39px 0;
}

.title-h2 {
    font-size: 24px;
    font-weight: 700;
}

/* BLOCK GRID */

.bg-white {
    background-color: #fff;
}

.bg-green {
    background-color: #66C05D;
    color: #fff;
    padding: 31px 41px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.bg-green-item {
    flex: 0 0 55%;
}

.bg-green-item-img {
    text-align: center;
    flex: 0 0 31%;
}

.bg-green h3 {
    font-size: 18px;
    font-weight: 700 ;
    margin: 0 0 20px 0;
}

.bg-green p {
    line-height: 1.5;
    margin: 0 0 24px 0;
}

.bg-green input {
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 9px 15px;
    width: 100%;
    box-sizing: border-box;
    max-width: 225px;
}

.bg-green .btn {
    display: block;
    text-align: center;
    max-width: 166px;
    padding: 8px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 19px 30px;
}

.catalog {
    padding: 60px 0 133px 0;
}

.grid-item-title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.grid-item-img {
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}

.grid-item-left {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 80px 0 0 0;
}

.grid-item-right {
    grid-column: 3/5;
    grid-row: 3/4;
    margin: 80px 0 0 0;
}

.grid-item-catalog {
    text-align: center;
}

.grid-item-catalog .bg-white {
    padding: 23px 30px 34px 30px;
}

.thumb {
    margin: 0 0 14px 0;
}

.grid-title {
    line-height: 1.5;
    margin: 0;
}

.grid-price {
    font-size: 21px;
    font-weight: 500;
    margin: 14px 0 25px 0;
    letter-spacing: 1px;
}

.grid-btn {
    border-radius: 30px;
    background-color: #66C05D;
    border: solid 2px #66C05D;
    color: #fff;
    padding: 6px 41px;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer; 
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 20px 0;
}

.footer-info {
    display: flex;
    align-items: center;
}

.footer-info span {
    font-size: 16px;
    margin: 0 0 0 103px;
}

.footer-info span:first-child {
    font-size: 14px;
    margin-left: 0;
}

.footer-info button {
    font-size: 14px;
    border-radius: 20px;
    background-color: transparent;
    border: solid 2px #66C05D;
    padding: 10px 25px;
    margin: 0 0 0 35px;
    transition: 0.2s ease;
    cursor: pointer;
}

.footer-info button:hover {
    background-color: #66C05D;
}

.social {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.social-item {
    margin-right: 20px;
}

.social-link {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #66C05D;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.social-link-youtube {
    background-image: url(/img/youtube.svg);
}

.social-link-vk {
    background-image: url(/img/vk.svg);
}

.social-link-facebook {
    background-image: url(/img/facebook.svg);
}

.social-link-instagram {
    background-image: url(/img/instagram.svg);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 26px 0;
    font-size: 12px;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #828282;
    text-decoration: none;
}